In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("remove_cluster06_Huan.csv", sep="\t", encoding='utf-16')

In [10]:
df

                                                 content  ground  cluster
0      thi·∫øt k·∫ø g·ªçn ƒë·∫πp, gi√° t·∫ßm trung th√™m ch·ª©c nƒÉng...       1        3
1                                          Thi·∫øt k·∫ø ƒë·∫πp        1        3
2                                                C·∫ßn Th∆°       2        2
3      m√¨nh mua 1 nƒÉm r·ªìi s√†i th·∫•y ok .ch∆∞a b·ªã l·ªói g√¨...       1        1
4      M√¨nh m·ªõi mua, m√°y ch·∫°y ch·∫≠m, hay b·ªã ƒë∆°, b·∫Øt Wi...       0        1
...                                                  ...     ...      ...
11432  X√†i t·ªët b·ªÅn ƒë·∫πp, l√¢u l√¢u c≈©ng h∆°i m√°t nh·∫π nh∆∞n...       1        2
11433  nghe nh·∫°c h∆°i r√® 1 t√≠, x√†i qua nhi·ªÅu d√≤ng m√°y ...       1        5
11434  N√™n b·ªè trong t√∫i qu·∫ßn m√† k nghe chu√¥ng l√† t·ª± t...       1        5
11435                               D√π sao th√¨ CH·∫§T üòÜüòÜüòÜüòÜ       1        5
11436  Em m·ªõi mua h√¥m qua(11/5) m√°y pin tr√¢u, li√™n qu...       1        8

[11437 rows x 3 columns]

In [13]:
df_cp = df.iloc[:1205,:]

In [14]:
df_cp = df_cp[['content', 'ground']]
#df_cp = df_cp[['content', 'ground']]

In [15]:
df_cp.groupby('ground').count()

        content
ground
0           348
1           734
2           123

In [7]:
df_cp.iloc[0:11500,:].to_csv('remove_cluster06_Vinh.csv', sep = '\t', encoding = 'utf-16', index = False)

In [8]:
df_cp.iloc[11501:23000,:].to_csv('remove_cluster06_Hoai.csv', sep = '\t', encoding = 'utf-16', index = False)

In [9]:
df_cp.iloc[23001:,:].to_csv('remove_cluster06_Huan.csv', sep = '\t', encoding = 'utf-16', index = False)

In [57]:
df = pd.read_csv("parse_total.csv", sep='\t', encoding = 'utf-16')

In [69]:
contents = set()

In [70]:
def split(x):
    contents.update(x.split('. '))
content_raw = df['content'].agg(split)

In [71]:
len(contents)

35262

In [82]:
ground = np.zeros(len(contents), dtype = int)
ground

array([0, 0, 0, ..., 0, 0, 0])

In [83]:
content_todf = pd.DataFrame({'content': list(contents),
                            'ground': ground})

In [84]:
content_todf

                                                 content  ground
0                                                              0
1                    Si√™u ph·∫©m, kh√¥ng l√†m m√¨nh th·∫•t v·ªçng       0
2                             Kh√¥ng th·∫•y c√≥ th√¥ng b√°o g√¨       0
3                                    s·∫Ω ·ªßng h·ªô ƒêMX nhi·ªÅu       0
4                                       MaÃÅy d√πng r·∫•t ·ªïn       0
...                                                  ...     ...
35257  X√†i t·ªët b·ªÅn ƒë·∫πp, l√¢u l√¢u c≈©ng h∆°i m√°t nh·∫π nh∆∞n...       0
35258  nghe nh·∫°c h∆°i r√® 1 t√≠, x√†i qua nhi·ªÅu d√≤ng m√°y ...       0
35259  N√™n b·ªè trong t√∫i qu·∫ßn m√† k nghe chu√¥ng l√† t·ª± t...       0
35260                               D√π sao th√¨ CH·∫§T üòÜüòÜüòÜüòÜ       0
35261  Em m·ªõi mua h√¥m qua(11/5) m√°y pin tr√¢u, li√™n qu...       0

[35262 rows x 2 columns]

In [86]:
content_todf.to_csv("contents.csv", sep = "\t", encoding = 'utf-16')